﻿@model BenhVien199.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

	<!-- TopMenu start-->
	<partial name="_Header"/>
	<!-- .TopMenu end-->

	<!-- TopMenu start-->
	<partial name="_TopMenu" model="@Model"/>
	<!-- .TopMenu end-->

	<div class="gap-30"></div>
	<section class="featured-post-area no-padding">
		<div class="container">
			<div class="row ts-gutter-20">
				<div class="col-md-12 pad-r">
				<div id="featured-slider" class="owl-carousel owl-theme featured-slider owl-loaded owl-drag">
						@if(Model.Banners != null)
						{
							foreach(var item in Model.Banners){
								<div class="item" >
									<img src="@item.imageUrl">
								</div><!-- Item 1 end -->
							}
						}
					</div><!-- Featured owl carousel end-->
				</div><!-- Col 7 end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- Feature post end -->
	<div class="gap-20"></div>
	<section class="featured-post-area no-padding">
		<div class="container">
			<div class="row ts-gutter-20">
				<div class="col-md-12 pad-r">
				{{BLOCK 2 HTMl}}
				</div><!-- Col 7 end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- Feature post end -->

	

	<section class="block-wrapper">
		<div class="container">
			<div class="row ts-gutter-30">
				<div class="col-lg-8 col-md-12">
					<!--- Featured Tab startet -->
					<div class="featured-tab">
						<h2 class="block-title">
							<span class="title-angle-shap"> Tin tức</span>
						</h2>
						<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link animated active fadeIn" href="#tab_a" data-toggle="tab">
										<span class="tab-head">
										<span class="tab-text-title">All</span>					
									</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link animated fadeIn" href="#tab_b" data-toggle="tab">
										<span class="tab-head">
										<span class="tab-text-title">Lifestyle</span>					
									</span>
									</a>
							</li>
								<li class="nav-item">
									<a class="nav-link animated fadeIn" href="#tab_c" data-toggle="tab">
										<span class="tab-head">
										<span class="tab-text-title">Tech</span>					
									</span>
									</a>
							</li>
								<li class="nav-item">
									<a class="nav-link animated fadeIn" href="#tab_d" data-toggle="tab">
										<span class="tab-head">
										<span class="tab-text-title">Sports</span>					
									</span>
									</a>
							</li>
								<li class="nav-item">
									<a class="nav-link animated fadeIn" href="#tab_e" data-toggle="tab">
										<span class="tab-head">
										<span class="tab-text-title">Health</span>					
									</span>
									</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active animated fadeInRight" id="tab_a">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="post-block-style clearfix">
											<div class="post-thumb">
												<a href="#">
													<img class="img-fluid" src="images/news/tech/image5.png" alt="" />
												</a>
												<div class="grid-cat">
													<a class="post-cat tech" href="#">Tech</a>
												</div>
											</div>
											
											<div class="post-content">
													<h2 class="post-title title-md">
														<a href="#">Ratcliffe to be Director of nation intelligence Trump ignored</a>
													</h2>
													<div class="post-meta mb-7">
														<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
														<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
													</div>
													<p>The market won’t stop actress and singer Jennifer Lopez from expanding her property collection Lopez has reportedly added to her real....</p>
												</div><!-- Post content end -->
										</div><!-- Post Block style end -->
									</div><!-- Col end -->

									<div class="col-lg-6 col-md-6">
										<div class="list-post-block">
											<ul class="list-post">
												<li>
													<div class="post-block-style media">
														<div class="post-thumb">
															<a href="#">
																<img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
															</a>
														</div><!-- Post thumb end -->

														<div class="post-content media-body">
															<div class="grid-category">
																<a class="post-cat tech-color" href="#">Tech</a>
															</div>
															<h2 class="post-title">
																<a href="#">Santino loganne legan an year old resident</a>
															</h2>
															<div class="post-meta mb-7">
																<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
															</div>
															</div><!-- Post content end -->
													</div><!-- Post block style end -->
												</li><!-- Li 1 end -->
												<li>
													<div class="post-block-style media">
														<div class="post-thumb">
															<a href="#">
																<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
															</a>
														</div><!-- Post thumb end -->

														<div class="post-content media-body">
															<div class="grid-category">
																<a class="post-cat travel-color" href="#">Travel</a>
															</div>
															<h2 class="post-title">
																<a href="#">Santino loganne legan an year old resident</a>
															</h2>
															<div class="post-meta mb-7">
																<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
															</div>
															</div><!-- Post content end -->
													</div><!-- Post block style end -->
												</li><!-- Li 2 end -->
												<li>
													<div class="post-block-style media">
														<div class="post-thumb">
															<a href="#">
																<img class="img-fluid" src="images/news/health/image2.png" alt="" />
															</a>
														</div><!-- Post thumb end -->

														<div class="post-content media-body">
															<div class="grid-category">
																<a class="post-cat health-color" href="#">Health</a>
															</div>
															<h2 class="post-title">
																<a href="#">Santino loganne legan an year old resident</a>
															</h2>
															<div class="post-meta mb-7">
																<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
															</div>
															</div><!-- Post content end -->
													</div><!-- Post block style end -->
												</li><!-- Li 3 end -->
												<li>
													<div class="post-block-style media">
														<div class="post-thumb">
															<a href="#">
																<img class="img-fluid" src="images/news/health/image1.png" alt="" />
															</a>
														</div><!-- Post thumb end -->

														<div class="post-content media-body">
															<div class="grid-category">
																<a class="post-cat sports-color" href="#">Sports</a>
															</div>
															<h2 class="post-title">
																<a href="#">Santino loganne legan an year old resident</a>
															</h2>
															<div class="post-meta mb-7">
																<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
															</div>
															</div><!-- Post content end -->
													</div><!-- Post block style end -->
												</li><!-- Li 3 end -->
											</ul><!-- List post end -->
										</div><!-- List post block end -->
									</div><!-- List post Col end -->
								</div><!-- Tab pane Row 1 end -->
							</div><!-- Tab pane 1 end -->

							<div class="tab-pane animated fadeInRight" id="tab_b">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="post-block-style clearfix">
												<div class="post-thumb">
													<a href="#">
														<img class="img-fluid" src="images/news/tech/tech02.png" alt="" />
													</a>
													<div class="grid-cat">
														<a class="post-cat tech" href="#">Tech</a>
													</div>
												</div>
												
												<div class="post-content">
													<h2 class="post-title title-md">
														<a href="#">Ratcliffe to be Director of nation intelligence Trump ignored</a>
													</h2>
													<div class="post-meta mb-7">
														<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
														<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
													</div>
													<p>The market won’t stop actress and singer Jennifer Lopez from expanding her property collection Lopez has reportedly added to her real....</p>
												</div><!-- Post content end -->
											</div><!-- Post Block style end -->
									</div><!-- Col end -->
	
									<div class="col-lg-6 col-md-6">
										<div class="list-post-block">
												<ul class="list-post">
													<li>
														<div class="post-block-style media">
															<div class="post-thumb">
																<a href="#">
																	<img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
																</a>
															</div><!-- Post thumb end -->
	
															<div class="post-content media-body">
																<div class="grid-category">
																	<a class="post-cat tech-color" href="#">Tech</a>
																</div>
																<h2 class="post-title">
																	<a href="#">Santino loganne legan an year old resident</a>
																</h2>
																<div class="post-meta mb-7">
																	<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																</div>
															</div><!-- Post content end -->
														</div><!-- Post block style end -->
													</li><!-- Li 1 end -->
													<li>
														<div class="post-block-style media">
															<div class="post-thumb">
																<a href="#">
																	<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
																</a>
															</div><!-- Post thumb end -->
	
															<div class="post-content media-body">
																<div class="grid-category">
																	<a class="post-cat travel-color" href="#">Travel</a>
																</div>
																<h2 class="post-title">
																	<a href="#">Santino loganne legan an year old resident</a>
																</h2>
																<div class="post-meta mb-7">
																	<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																</div>
															</div><!-- Post content end -->
														</div><!-- Post block style end -->
													</li><!-- Li 2 end -->
													<li>
														<div class="post-block-style media">
															<div class="post-thumb">
																<a href="#">
																	<img class="img-fluid" src="images/news/health/image2.png" alt="" />
																</a>
															</div><!-- Post thumb end -->
	
															<div class="post-content media-body">
																<div class="grid-category">
																	<a class="post-cat health-color" href="#">Health</a>
																</div>
																<h2 class="post-title">
																	<a href="#">Santino loganne legan an year old resident</a>
																</h2>
																<div class="post-meta mb-7">
																	<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																</div>
															</div><!-- Post content end -->
														</div><!-- Post block style end -->
													</li><!-- Li 3 end -->
													<li>
														<div class="post-block-style media">
															<div class="post-thumb">
																<a href="#">
																	<img class="img-fluid" src="images/news/health/image1.png" alt="" />
																</a>
															</div><!-- Post thumb end -->
	
															<div class="post-content media-body">
																<div class="grid-category">
																	<a class="post-cat sports-color" href="#">Sports</a>
																</div>
																<h2 class="post-title">
																	<a href="#">Santino loganne legan an year old resident</a>
																</h2>
																<div class="post-meta mb-7">
																	<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																</div>
															</div><!-- Post content end -->
														</div><!-- Post block style end -->
													</li><!-- Li 3 end -->
												</ul><!-- List post end -->
											</div><!-- List post block end -->
									</div><!-- List post Col end -->
								</div><!-- Tab pane Row 1 end -->
							</div><!-- Tab pane 2 end -->

							<div class="tab-pane animated fadeInRight" id="tab_c">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="post-block-style clearfix">
													<div class="post-thumb">
														<a href="#">
															<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
														</a>
														<div class="grid-cat">
															<a class="post-cat tech" href="#">Tech</a>
														</div>
													</div>
													
													<div class="post-content">
														<h2 class="post-title title-md">
															<a href="#">Ratcliffe to be Director of nation intelligence Trump ignored</a>
														</h2>
														<div class="post-meta mb-7">
															<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
															<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
														</div>
														<p>The market won’t stop actress and singer Jennifer Lopez from expanding her property collection Lopez has reportedly added to her real....</p>
													</div><!-- Post content end -->
												</div><!-- Post Block style end -->
										</div><!-- Col end -->
		
										<div class="col-lg-6 col-md-6">
											<div class="list-post-block">
													<ul class="list-post">
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat tech-color" href="#">Tech</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 1 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat travel-color" href="#">Travel</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 2 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image2.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat health-color" href="#">Health</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image1.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat sports-color" href="#">Sports</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
													</ul><!-- List post end -->
												</div><!-- List post block end -->
										</div><!-- List post Col end -->
									</div><!-- Tab pane Row 1 end -->
								</div><!-- Tab pane 3 end -->

							<div class="tab-pane animated fadeInRight" id="tab_d">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="post-block-style clearfix">
													<div class="post-thumb">
														<a href="#">
															<img class="img-fluid" src="images/news/health/image1.png" alt="" />
														</a>
														<div class="grid-cat">
															<a class="post-cat sports" href="#">Sport</a>
														</div>
													</div>
													
													<div class="post-content">
														<h2 class="post-title title-md">
															<a href="#">Ratcliffe to be Director of nation intelligence Trump ignored</a>
														</h2>
														<div class="post-meta mb-7">
															<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
															<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
														</div>
														<p>The market won’t stop actress and singer Jennifer Lopez from expanding her property collection Lopez has reportedly added to her real....</p>
													</div><!-- Post content end -->
												</div><!-- Post Block style end -->
										</div><!-- Col end -->
		
										<div class="col-lg-6 col-md-6">
											<div class="list-post-block">
													<ul class="list-post">
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat tech-color" href="#">Tech</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 1 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat travel-color" href="#">Travel</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 2 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image2.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat health-color" href="#">Health</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image1.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat sports-color" href="#">Sports</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
													</ul><!-- List post end -->
												</div><!-- List post block end -->
										</div><!-- List post Col end -->
									</div><!-- Tab pane Row 1 end -->
								</div><!-- Tab pane 4 end -->

							<div class="tab-pane animated fadeInRight" id="tab_e">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="post-block-style clearfix">
													<div class="post-thumb">
														<a href="#">
															<img class="img-fluid" src="images/news/health/image2.png" alt="" />
														</a>
														<div class="grid-cat">
															<a class="post-cat health" href="#">Health</a>
														</div>
													</div>
													
													<div class="post-content">
														<h2 class="post-title title-md">
															<a href="#">Ratcliffe to be Director of nation intelligence Trump ignored</a>
														</h2>
														<div class="post-meta mb-7">
															<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
															<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
														</div>
														<p>The market won’t stop actress and singer Jennifer Lopez from expanding her property collection Lopez has reportedly added to her real....</p>
													</div><!-- Post content end -->
												</div><!-- Post Block style end -->
										</div><!-- Col end -->
		
										<div class="col-lg-6 col-md-6">
											<div class="list-post-block">
													<ul class="list-post">
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat tech-color" href="#">Tech</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 1 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat travel-color" href="#">Travel</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 2 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image2.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat health-color" href="#">Health</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
														<li>
															<div class="post-block-style media">
																<div class="post-thumb">
																	<a href="#">
																		<img class="img-fluid" src="images/news/health/image1.png" alt="" />
																	</a>
																</div><!-- Post thumb end -->
		
																<div class="post-content media-body">
																	<div class="grid-category">
																		<a class="post-cat sports-color" href="#">Sports</a>
																	</div>
																	<h2 class="post-title">
																		<a href="#">Santino loganne legan an year old resident</a>
																	</h2>
																	<div class="post-meta mb-7">
																		<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
																	</div>
																</div><!-- Post content end -->
															</div><!-- Post block style end -->
														</li><!-- Li 3 end -->
													</ul><!-- List post end -->
												</div><!-- List post block end -->
										</div><!-- List post Col end -->
									</div><!-- Tab pane Row 1 end -->
								</div><!-- Tab pane 5 end -->
						</div><!-- tab content -->
					</div><!-- Technology Tab end -->

					

				</div><!-- Content Col end -->

				<div class="col-lg-4">
					<div class="sidebar">
					<div class="sidebar-widget social-widget post-tab">
							<h2 class="block-title">
								<span class="title-angle-shap"> Dịch vụ</span>
							</h2>
							<!-- dich vu wraper start-->
								<partial name="_ServiceTypeSlide" model="@Model"/>
							<!-- .section -->
						</div><!-- widget end -->
					</div>
				</div><!-- Sidebar Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- First block end -->

	<!-- dich vu wraper start-->
		<partial name="_TopService" model="@Model"/>
	<!-- .section -->

	<section class="block-wrapper">
		<div class="container">
			<div class="row ts-gutter-30">
				<div class="col-lg-8 col-md-12">
					<div class="banner-img text-center">
						BLOCK4 {HTML}
					</div>
						<!-- block slider -->
					<partial name="_DoctorSlide" model="@Model"/>
				<!-- .block slider -->
					<div class="gap-30"></div>

					<h2 class="block-title">
						<span class="title-angle-shap">Sức khỏe</span>
					</h2>
					<div class="row ts-gutter-20">
						<div class="col-md-6">
							<div class="post-block-style">
								<div class="post-thumb">
									<a href="#">
										<img class="img-fluid" src="images/news/tech/image5.png" alt="">
									</a>
									<div class="grid-cat">
										<a class="post-cat tech" href="#">Tech</a>
									</div>
								</div>

								<div class="post-content">
									<h2 class="post-title">
										<a href="#">Jennifer Lopez expanding her property collection a lot</a>
									</h2>
									<div class="post-meta mb-7">
										<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
									</div>
								</div><!-- Post content end -->
							</div>
						</div><!-- end col -->
						<div class="col-md-6">
							<div class="post-block-style">
								<div class="post-thumb">
									<a href="#">
										<img class="img-fluid" src="images/news/fashion/image4.png" alt="">
									</a>
									<div class="grid-cat">
										<a class="post-cat food" href="#">Food</a>
									</div>
								</div>

								<div class="post-content">
									<h2 class="post-title">
										<a href="#">
											Zhang social media pop star also
											known innocent gangstar
										</a>
									</h2>
									<div class="post-meta mb-7">
										<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
									</div>
								</div><!-- Post content end -->
							</div>
						</div><!-- end col -->
						<div class="col-md-6">
							<div class="post-block-style">
								<div class="post-thumb">
									<a href="#">
										<img class="img-fluid" src="images/news/lifestyle/image1.jpg" alt="">
									</a>
									<div class="grid-cat">
										<a class="post-cat tech" href="#">Tech</a>
									</div>
								</div>

								<div class="post-content">
									<h2 class="post-title">
										<a href="#">Santino Janson legan an year old Gilroy resident known innocent</a>
									</h2>
									<div class="post-meta mb-7">
										<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
										<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
									</div>
								</div><!-- Post content end -->
							</div>
						</div><!-- end col -->
						<div class="col-md-6">
							<div class="post-block-style">
								<div class="post-thumb">
									<a href="#">
										<img class="img-fluid" src="images/news/food/food01.png" alt="">
									</a>
									<div class="grid-cat">
										<a class="post-cat food" href="#">Food</a>
									</div>
								</div>

								<div class="post-content">
									<h2 class="post-title">
										<a href="#">Santino Janson legan an year old Gilroy resident known innocent</a>
									</h2>
									<div class="post-meta mb-7">
										<span class="post-author"><a href="#"><i class="fa fa-user"></i> John Doe</a></span>
										<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
									</div>
								</div><!-- Post content end -->
							</div>
						</div><!-- end col -->
					</div><!-- end row -->
					<div class="gap-30"></div>
					<div class="row">
						<div class="col-12">
							<div class="load-more-btn text-center">
								<button class="btn"> Load More </button>
							</div>
						</div>
					</div>

				</div><!-- Content Col end -->
				<div class="col-lg-4 col-md-12">
					<div class="list-post-block">
						BLOCK5 {HTML}
						<ul class="list-post">
							<li>
								<div class="post-block-style media">
									<div class="post-thumb thumb-md">
										<a href="#">
											<img class="img-fluid" src="images/news/fashion/image3.png" alt="">
										</a>
									</div><!-- Post thumb end -->

									<div class="post-content media-body">
										<div class="grid-category">
											<a class="post-cat tech-color" href="#">Tech</a>
										</div>
										<h2 class="post-title">
											<a href="#">House last week that move would Inject</a>
										</h2>
										<div class="post-meta mb-7">
											<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
										</div>
									</div><!-- Post content end -->
								</div><!-- Post block style end -->
							</li><!-- Li 1 end -->
							<li>
								<div class="post-block-style media">
									<div class="post-thumb thumb-md">
										<a href="#">
											<img class="img-fluid" src="images/news/lifestyle/image3.png" alt="">
										</a>
									</div><!-- Post thumb end -->

									<div class="post-content media-body">
										<div class="grid-category">
											<a class="post-cat travel-color" href="#">Travel</a>
										</div>
										<h2 class="post-title">
											<a href="#">Zhang social media pop also known innocent</a>
										</h2>
										<div class="post-meta mb-7">
											<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
										</div>
									</div><!-- Post content end -->
								</div><!-- Post block style end -->
							</li><!-- Li 2 end -->
							<li>
								<div class="post-block-style media">
									<div class="post-thumb thumb-md">
										<a href="#">
											<img class="img-fluid" src="images/news/health/image2.png" alt="">
										</a>
									</div><!-- Post thumb end -->

									<div class="post-content media-body">
										<div class="grid-category">
											<a class="post-cat health-color" href="#">Health</a>
										</div>
										<h2 class="post-title">
											<a href="#">Jennifer Lopez expand her property collection</a>
										</h2>
										<div class="post-meta mb-7">
											<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
										</div>
									</div><!-- Post content end -->
								</div><!-- Post block style end -->
							</li><!-- Li 3 end -->
							<li>
								<div class="post-block-style media">
									<div class="post-thumb thumb-md">
										<a href="#">
											<img class="img-fluid" src="images/news/health/image1.png" alt="">
										</a>
									</div><!-- Post thumb end -->

									<div class="post-content media-body">
										<div class="grid-category">
											<a class="post-cat sports-color" href="#">Sports</a>
										</div>
										<h2 class="post-title">
											<a href="#">Santino loganne legan an year old resident</a>
										</h2>
										<div class="post-meta mb-7">
											<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
										</div>
									</div><!-- Post content end -->
								</div><!-- Post block style end -->
							</li><!-- Li 3 end -->
						</ul><!-- List post end -->
					</div>
				</div><!-- Sidebar Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- First block end -->

	
	<div class="gap-50"></div>
	<!-- ad banner start-->
	<!-- TopMenu start-->
		<partial name="_Footer"/>
	<!-- .TopMenu end-->
