﻿@model BenhVien199.Models.HomeViewModel
<section class="block-slider">

	<div class="container">
		<h2 class="block-title">
			<span class="title-angle-shap"> Chuyên gia</span>
		</h2>
		<div class="ts-grid-box">
			<div class="owl-carousel dot-style2" id="post-block-slider">
				@if (Model.Doctors != null)
				{
					foreach (var item in Model.Doctors)
					{
						<div class="item">
							<div class="post-block-style">
								<div class="post-thumb">
									<a href="#">
										<img class="img-fluid" src="@item.avatar" alt="" />
									</a>
									<div class="grid-cat">
										<a class="post-cat tech" href="#">Tech</a>
									</div>
								</div>

								<div class="post-content">
									<h2 class="post-title">
										<a href="#">@item.firstName @item.lastName</a>
									</h2>
								</div><!-- Post content end -->
							</div><!-- Post Block style end -->
						</div>

						<!-- slide-item end -->
					}
				}
			</div>
		</div>
		<!-- ts-populer-post-box end-->
	</div>
	<!-- container end-->
</section>
