﻿<!-- Footer start -->
<div class="ts-footer">
	<div class="container">
		<div class="row ts-gutter-30 justify-content-lg-between justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="footer-widtet">
					<h3 class="widget-title"><span>ĐỊA CHỈ LIÊN HỆ</span></h3>
					<div class="widget-content">
						<ul class="ts-footer-info">
							<li><i class="fa fa-info"></i>Trang thông tin tổng hợp, diễn đàn chia sẻ thông tin dành cho bác sỹ trên toàn quốc.</li>
							<li><i class="fa fa-home"></i> 216 Nguyễn Công Trứ, Sơn Trà, TP Đà Nẵng</li>
							<li><i class="icon icon-phone2"></i> 0979677973   &nbsp;&nbsp; <i class="fa fa-envelope"></i>drhonghuong@gmail.com</li>

						</ul>

						<div class="thongke">
							<div class="tructuyen">
								<h5>Trực tuyến</h5>
								<p>1</p>
							</div>
							<div class="tongtruycap">
								<h5>Tổng lượt truy cập</h5>
								<p>60639</p>
							</div>

						</div>

					</div>
				</div>
			</div><!-- col end -->
			<div class="col-lg-3 col-md-6">
				<div class="footer-widtet post-widget">
					<h3 class="widget-title"><span>BLOCK6 {HTML}</span></h3>
				</div>
			</div><!-- col end -->
			<div class="col-lg-3 col-md-6">
				<div class="footer-widtet post-widget">
					<div class="widget-content">
						<h3 class="widget-title"><span>Facebook</span></h3>

						<div class="footer-ads">
							<a href="#">
								<img class="img-fluid" src="images/banner-image/image6.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div><!-- col end -->
		</div><!-- row end -->
	</div><!-- container end -->
</div>
<!-- Footer End-->
<!-- ts-copyright start -->
<div class="ts-copyright">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-12 text-center">
				<div class="copyright-content text-light">
					<p>&copy; 2019, Digiqole - News Magazine html Template. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ts-copyright end-->
<!-- backto -->
<div class="top-up-btn">
	<div class="backto" style="display: block;">
		<a href="#" class="icon icon-arrow-up" aria-hidden="true"></a>
	</div>
</div>
<!-- backto end-->
