﻿
<div class="trending-bar trending-light d-md-block">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-3 text-center text-md-left">
				<p class="trending-title"> Hotline: 1900 98 68 68</p>
			</div><!-- Col end -->
			<div class="col-md-9 text-md-right text-center">
				<div class="ts-date">
					<ul class="ts-social">
						<li>
							<p class="trending-title">
								Anh - Việt
							</p>
						</li>
						<li>
							<p class="trending-title">
								<i class="tsicon fa fa-user"></i>
								Đăng ký/ đăng nhập
							</p>
						</li>
						
					</ul>
				</div>
			</div><!-- Col end -->
		</div><!--/ Row end -->
	</div><!--/ Container end -->
</div><!--/ Trending end -->
<!-- Header start -->
<header id="header" class="header">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-md-3 col-sm-12">
				<div class="logo">
					<a href="index.html">
						<img src="images/logos/logo.png" alt="">
					</a>
				</div>
			</div><!-- logo col end -->

			<div class="col-md-8 col-sm-12 header-right">
				{Block HTML1}
			</div><!-- header right end -->
		</div><!-- Row end -->
	</div><!-- Logo and banner area end -->
</header><!--/ Header end -->

