﻿<!DOCTYPE html>
<html sm-language-attributes-for="en" data-pnotify-firstpos1="0">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no" />
    <meta name="HandheldFriendly" content="true">
  @*  <meta name="description" content="@Assets.GetMetaDescription()" />
    <meta name="keywords" content="@Assets.GetMetaKeywords()" />
    <meta name="generator" content="BV199 @SmartstoreVersion.CurrentFullVersion" />*@
    @*<meta property="sm:root" content="@Url.Content("~/")" />*@
    @*<title itemprop="name">@Assets.GetDocumentTitle(true)</title>*@
@*
    <partial name="Head" />*@

    <zone name="stylesheets">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </zone>
</head>

<body>
    <zone name="start" />
    @RenderBody()
    <zone name="scripts">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.colorbox.js"></script>
        <script src="~/js/custom.js"></script>
    </zone>
    <zone name="end" />
</body>
</html>

