﻿@model BenhVien199.Models.HomeViewModel

<div class="list-post-block">
	<ul class="list-post">
		@if (Model.ServiceTypes != null)
		{
			foreach (var item in Model.ServiceTypes.Take(5))
			{
				<li>
					<div class="post-block-style media">
						<div class="post-thumb">
							<a href="#">
								<img class="img-fluid" src="@item.image" alt="">
							</a>
							<span class="tab-post-count"> 2</span>
						</div><!-- Post thumb end -->

						<div class="post-content media-body">
							<h2 class="post-title">
								<a href="#">@item.name</a>
							</h2>
						</div><!-- Post content end -->
					</div><!-- Post block style end -->
				</li>
			}
		}
	</ul>
</div>
