﻿@using System.Globalization
@model BenhVien199.Models.HomeViewModel
@{
	var firstItem = Model.TopServices?.FirstOrDefault();
	CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");  
}

<section class="block-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<h2 class="block-title">
					<span class="title-angle-shap"> Dịch vụ nổi bật </span>
				</h2>
				@if (Model.TopServices != null && firstItem != null)
				{
					<div class="post-block-style">
						<div class="row align-items-center">
							<div class="col-md-6">
								<div class="post-thumb">
									<img src="@firstItem.image" alt="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="post-content">
									<h2 class="post-title title-md">
										<a href="#">@firstItem.name</a>
									</h2>
									<div class="post-meta mb-7">
										<span class="post-author"><a href="#"><i class="fa fa-user"></i> @(firstItem.minimunAge == 0 ? "Mọi lứa tuổi" : (firstItem.minimunAge + " - " + firstItem.maxAge + " tuổi"))</a></span>
										<span class="post-date"><i class="fa fa-stethoscope"></i> @firstItem.numberOfTests xét nghiệm</span>
										<span class="post-date"><i class="fa fa-registered"></i> @firstItem.numberOfConsult lượt đăng ký</span>
									</div>
									<p>Giá : @(firstItem.charges.ToString("#,###", cul.NumberFormat) + "đ")</p>
									<button class="btn btn-submit btn-sm" type="button" >Xem ngay</button>
								</div>
							</div>
						</div>
					</div>
				}

				<div class="gap-30"></div>
				<div class="row">
					@if (Model.TopServices != null)
					{
						foreach (var item in Model.TopServices.Skip(1).Take(6))
						{
							<div class="col-md-6">
								<div class="list-post-block">
									<ul class="list-post">
										<li>
											<div class="post-block-style media">
												<div class="post-thumb">
													<a href="#">
														<img class="img-fluid" src="@item.image" alt="">
													</a>
												</div><!-- Post thumb end -->

												<div class="post-content media-body">
													<h2 class="post-title">
														<a href="#">@item.name</a>
													</h2>
													<div class="post-meta mb-7">
														<span class="post-author"><a href="#"><i class="fa fa-user"></i> @(item.minimunAge == 0 ? "Mọi lứa tuổi" : (item.minimunAge + " - " + item.maxAge + " tuổi"))</a></span>
														<span class="post-date"><i class="fa fa-stethoscope"></i> @item.numberOfTests xét nghiệm</span>
														<span class="post-date"><i class="fa fa-registered"></i> @item.numberOfConsult lượt đăng ký</span>
													</div>
													<p>Giá : @(item.charges.ToString("#,###", cul.NumberFormat) + "đ")</p>
													<button class="btn btn-submit btn-sm" type="button">Xem ngay</button>
												</div><!-- Post content end -->
											</div><!-- Post block style end -->
										</li>

										<!-- Li 1 end -->
									</ul><!-- list-post end -->
								</div>
							</div>
									}
								}
							
					<!-- col end -->
					
				
				</div>
			</div><!-- Content Col end -->


			<div class="col-lg-4 col-md-12">
				<div class="ts-category">
					{{BLOCK03 HTML}}
					<br />
					<br />
					<br />
					<br />
					<div class="sidebar-widget featured-tab post-tab">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link animated active fadeIn" href="#post_tab_a" data-toggle="tab">
									<span class="tab-head">
										<span class="tab-text-title">TAGS</span>
									</span>
								</a>
							</li>

						</ul>
						<div class="gap-20 d-none d-md-block"></div>
						<div class="row">
							<div class="col-12">
								<div class="tab-content">
									<div class="tab-pane active animated fadeInRight" id="post_tab_a">
										<div class="list-post-block">

											<a class="post-cat travel" href="/tag/net-dep-blouse-trang">  nét đẹp blouse trắng</a>                     <a class="post-cat travel" href="/tag/bai-du-thi-net-dep-blouse-trang">  bài dự thi nét đẹp blouse trắng</a>                     <a class="post-cat travel" href="/tag/covid-19">  covid-19</a>                     <a class="post-cat travel" href="/tag/da-nang">  Đà Nẵng</a>                     <a class="post-cat travel" href="/tag/benh-vien-199">  bệnh viện 199</a>                     <a class="post-cat travel" href="/tag/vac-xin-covid-19"> vắc-xin Covid-19</a>                     <a class="post-cat travel" href="/tag/vac-xin"> Vắc xin</a>                     <a class="post-cat travel" href="/tag/dot-quy">  đột quỵ</a>                     <a class="post-cat travel" href="/tag/tin-moi-nhat">  tin mới nhất</a>                     <a class="post-cat travel" href="/tag/covid">  covid</a>                     <a class="post-cat travel" href="/tag/huyet-ap">  huyết áp</a>                     <a class="post-cat travel" href="/tag/suc-khoe">  sức khỏe</a>                     <a class="post-cat travel" href="/tag/thong-diep-5k">  thông điệp 5k</a>                     <a class="post-cat travel" href="/tag/thuc-pham">  thực phẩm</a>                     <a class="post-cat travel" href="/tag/ung-thu">  ung thư</a>                     <a class="post-cat travel" href="/tag/benh-gout"> Bệnh gout</a>                     <a class="post-cat travel" href="/tag/dinh-duong"> dinh dưỡng</a>                     <a class="post-cat travel" href="/tag/dot-quy-nao"> Đột quỵ não</a>                     <a class="post-cat travel" href="/tag/kham-suc-khoe-dinh-ky"> khám sức khỏe định kỳ</a>                     <a class="post-cat travel" href="/tag/ung-thu-vu"> ung thư vú</a>                     <a class="post-cat travel" href="/tag/xet-nghiem-covid-19"> xét nghiệm covid-19</a>                     <a class="post-cat travel" href="/tag/5k-bo-y-te">  5k bộ y tê</a>                     <a class="post-cat travel" href="/tag/chat-kich-thich">  chất kích thích</a>                     <a class="post-cat travel" href="/tag/che-do-an">  chế độ ăn</a>                     <a class="post-cat travel" href="/tag/corona-virus">  Corona virus</a>
											<!-- List post end -->
										</div>
									</div><!-- Tab pane 1 end -->
								</div><!-- tab content -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- Sidebar Col end -->
		</div><!-- Row end -->
	</div><!-- Container end -->
</section><!-- First block end -->