﻿@model BenhVien199.Models.HomeViewModel
<div class="main-nav clearfix is-ts-sticky">
		<div class="container">
			<div class="row justify-content-between">
				<nav class="navbar navbar-expand-lg col-lg-12">
					<div class="site-nav-inner float-left">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
						<span class="fa fa-bars"></span>
					</button>
					   <!-- End of Navbar toggler -->
					   <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav">
								<li class="nav-item dropdown active">
									<a class="animated fadeIn" href="/">
										<span class="tab-head">
											<span class="tab-text-title">Trang chủ</span>					
										</span>
									</a>
								</li>
								@foreach(var item in Model.Menus.Where(x=>string.IsNullOrEmpty(x.parentMenu)))
								{
									if (string.IsNullOrEmpty(item.parentMenu))
									{
										if(Model.Menus.Count(x=>x.parentMenu == item.id) > 0)
										{
											<li class="dropdown">
											<a href="@item.slug" class="dropdown-toggle menu-dropdown" data-toggle="dropdown">@item.name<i class="fa fa-angle-down"></i></a>

											<ul class="dropdown-menu" role="menu">
												@foreach(var child in Model.Menus.Where(x=>x.parentMenu == item.id)){
													<li>
														<a href="@child.slug">
															@child.name
														</a>
													</li>
												}
											</ul>
											<!-- End dropdown -->
										</li>
										}else {
											<li>
												<a href="@item.slug">@item.name</a>
											</li>
										}
									}
								}
							</ul><!--/ Nav ul end -->
						</div><!--/ Collapse end -->

					</div><!-- Site Navbar inner end -->
				</nav><!--/ Navigation end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</div><!-- Menu wrapper end -->
